---
import HeaderEvent from "../components/HeaderEvent";
import HomePage from "../parts/HomePage.astro";
import "../styles/App.css"

import "remixicon/fonts/remixicon.css"

const title = "Setografi";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<HeaderEvent />
		<HomePage />
	</body>
</html>
