---
import profileImage from '../assets/profile-image.jpg';
---

<div id='about' class='h-screen mx-auto px-4 pt-32 sm:px-20 lg:px-52 z-10'>
  <h1 class='mb-4 font-bold text-3xl'>About Me</h1>
  <!-- Grid -->
  <div class='mt-6 grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 items-start'>
    <!-- Start Col -->
    <div class='relative'>
        <img
          class='h-80'
          src={profileImage.src}
          alt='profile image'
        />
      </div>
      <!-- End Col -->

    <div class="h-80 overflow-y-scroll">
      <p class='mt-3 text-lg text-WhiteBack'>
        Hello, I'm Seto, a unique creative designer and developer who spends much of his free time drinking coffee and traveling. I like learning new things and trying to apply them.
      </p>

      <p class='mt-3 text-md text-blue-860 dark:test-gray-400'>
        Contact:
        <ul class='mt-2'>
          <li class='skill flex items-center pl-5 relative'>Instagram</li>
          <li class='skill flex items-center pl-5 relative'>Twitter</li>
          <li class='skill flex items-center pl-5 relative'>LinkedIn</li>
          <li class='skill flex items-center pl-5 relative'>read.cv</li>
        </ul>
      </p>
    </div>
    <!-- End Col -->


  </div>
  <!-- End Grid -->
</div>

<style>
  .skill::before {
    content: '▹';
    position: absolute;
    left: 0px;
    font-size: 12px;
    line-height: 12px;
  }
</style>