---
const name = "WAHYU SETO PRANATA";
---

<body>
  <div class="pl-20 md:pl-36 lg:pl-52 flex items-center h-screen z-50">
    <div class="bg-WhiteBack flex justify-start">
      <h2 class="px-2 md:px-4 py-1 lg:py-[6px] text-base md:text-xl lg:text-3xl font-medium text-BlackText tracking-wide">
        {name}
      </h2>
    </div>
  </div>
</body>