<body>
    <div class="pl-52 flex items-center h-screen z-10">
        <div class="bg-WhiteBack flex justify-start">
          <h2 class="px-4 py-[6px] text-3xl font-medium text-BlackText tracking-wide">
            WAHYU SETO PRANATA
          </h2>
        </div>
      </div>
</body>